site_name: RoSys
site_url: https://rosys.io/
nav:
  - About: "index.md"
  - installation.md
  - getting_started.md
  - Examples:
      - examples/steering.md # NOTE: shown when clicking on "Examples" folder
      - examples/steering.md
      - examples/hardware.md
      - examples/click-and-drive.md
      - examples/schedule.md
      - examples/navigation.md
      - examples/cameras.md
  - development.md
  - troubleshooting.md
  - Module Reference: reference/
repo_url: https://github.com/zauberzeug/rosys
edit_uri: edit/main/docs/
theme:
  name: material
  font:
    text: Source Sans Pro
  features:
    - content.code.annotate
extra_css:
  - stylesheets/extra.css
markdown_extensions:
  - toc:
      permalink: True
  - admonition
  - def_list
  - mdx_include:
      base_path: docs
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - pymdownx.snippets
  - attr_list
  - footnotes
plugins:
  - search
  - gen-files:
      scripts:
        - docs/generate_reference.py
  - literate-nav:
      nav_file: SUMMARY.md
  - section-index
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            show_root_heading: true
            show_root_full_path: false
            show_source: false
            show_signature_annotations: true
            merge_init_into_class: true
            separate_signature: true
      watch:
        - rosys
        - README.md
