[tool.poetry]
name = "rosys"
version = "0.1.0"
description = "Modular Robot System With Elegant Automation Capabilities"
authors = ["Zauberzeug GmbH <info@zauberzeug.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/zauberzeug/rosys"
keywords = ["robot", "framework", "automation", "control", "steer"]

[tool.poetry.dependencies]
python = ">=3.10, <3.12"
nicegui = "1.0.4"
asyncio = "^3.4.3"
retry = "^0.9.2"
aenum = "^3.1.5"
requests = "^2.25.1"
aiohttp = "^3.8.3"
simplejson = "^3.17.2"
pyserial = "^3.5"
aioserial = "^1.3.0"
numpy = "^1.20.1"
scipy = "^1.7.2"
opencv-python = "^4.5.5"
opencv-contrib-python-headless = "^4.5.4"
sh = "^1.14.2"
psutil = "^5.9.0"
networkx = "^2.6.2"
more-itertools = "^8.10.0"
tabulate = "^0.8.9"
coloredlogs = "^15.0.1"
humanize = "^4.0.0"
aiocache = "^0.11.1"
ujson = "5.4.0"
msgpack = "^1.0.3"
uvloop = "^0.17.0"
dataclasses-json = "^0.5.7"
executing = "^1.0.0"
suntime = "^1.2.5"
line-profiler = "^4.0.2"
yappi = "^1.4"
pyloot = "^0.1.0"
objgraph "^3.5.0"

[tool.poetry.dev-dependencies]
autopep8 = "^1.5.5"
pytest = "^6.2.1"
pytest-watch = "^4.2.0"
pytest-flakefinder = "^1.0.0"
pytest-profiling = "^1.7.0"
pytest-asyncio = "0.19.0"
icecream = "^2.1.0"
debugpy = "^1.2.1"
py-spy = "^0.3.10"
isort = "^5.10.1"
esptool = "^4.3"

[build-system]
requires = [
    "setuptools>=30.3.0,<50",
    "poetry-core>=1.0.0"
]
build-backend = "poetry.core.masonry.api"
