<div class="top">
  <div class="robot">
    <span>Your robot:</span>
    <pre *ngIf="robotService.world">
mode  = {{ robotService.world.mode }}
state = {{ robotService.world.state }}
time  = {{ robotService.world.time | number: "0.3-3" }}
x     = {{ robotService.world.robot.pose.x | number: "0.3-3" }}
y     = {{ robotService.world.robot.pose.y | number: "0.3-3" }}
yaw   = {{ robotService.world.robot.pose.yawDeg | number: "0.3-3" }} deg
batt  = {{ robotService.world.robot.battery | number: "0.1-1" }} V
temp  = {{ robotService.world.robot.temperature | number: "0.1-1" }} C
    </pre>
  </div>

  <div class="cameras">
    <span>Cameras:</span>
    <pre *ngFor="let camera of robotService.cameras">{{ camera | json }}</pre>
  </div>

  <div class="image">
    <button (click)="loadImage()">Refresh</button>
    <img *ngIf="currentImageId" src="api/image/{{ currentImageId }}" />
  </div>
</div>

<div class="actions">
  <button (click)="robotService.sendTask('square')">Drive square</button>
  <button (click)="robotService.sendTask('spline')">Drive spline</button>
  <button (click)="robotService.sendPause()">Pause</button>
  <button (click)="robotService.sendResume()">Resume</button>
</div>

<div class="main">
  <ngx-joystick
    #dynamicJoystick
    (move)="onMove($event)"
    (end)="stop()"
  ></ngx-joystick>
  <app-map-container></app-map-container>
</div>
