<p>Your robot:</p>
<pre *ngIf="robotService.world">
  mode = {{ robotService.world.mode }}
  time = {{ robotService.world.time | number: "0.3-3" }}
  x    = {{ robotService.world.robot.pose.x | number: "0.3-3" }}
  y    = {{ robotService.world.robot.pose.y | number: "0.3-3" }}
  yaw  = {{ robotService.world.robot.pose.yawDeg | number: "0.3-3" }} deg
  batt = {{ robotService.world.robot.battery | number: "0.1-1" }} V
  temp = {{ robotService.world.robot.temperature | number: "0.1-1" }} C
</pre>
<ngx-joystick
  #dynamicJoystick
  (move)="onMove($event)"
  (end)="stop()"
></ngx-joystick>
<button (click)="robotService.sendTask('square')">Drive square</button>
<button (click)="robotService.sendTask('spline')">Drive spline</button>
<app-map-container></app-map-container>
