:host {
  display: flex;
  flex-direction: column;
  row-gap: 1em;

  .top {
    display: flex;
    column-gap: 1em;

    * {
      flex: 1 0 1px;

      img {
        display: block;
        height: 10em;
        margin-top: 1em;
      }
    }
  }

  .actions {
    display: flex;
    column-gap: 1em;
  }
}
