:root {
  --md-primary-fg-color: #6e93d6;
  --md-default-fg-color: #3a3e42;
  --md-accent-fg-color: #53b689;
}

:root > * {
  --md-code-hl-color: #d8e5fa;
}

img {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
